body{
    background-color: #8CBD3A;
}

#main{
    background-color: white;
    height: 500px;
    margin: 100px;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}